package ai.rever.boss.plugin.dynamic.@@PACKAGE@@

import ai.rever.boss.plugin.api.Panel.Companion.bottom
import ai.rever.boss.plugin.api.Panel.Companion.left
import ai.rever.boss.plugin.api.PanelId
import ai.rever.boss.plugin.api.PanelInfo
import androidx.compose.material.icons.Icons
import androidx.compose.material.icons.outlined.Extension

object @@CLASS_PREFIX@@Info : PanelInfo {
    override val id = PanelId("@@SLUG@@", 50)
    override val displayName = "@@TOOL_NAME_KT@@"
    override val icon = Icons.Outlined.Extension
    override val defaultSlotPosition = left.bottom
}
