{
  "manifestVersion": 1,
  "pluginId": "@@PLUGIN_ID@@",
  "displayName": "@@TOOL_NAME_JSON@@",
  "version": "0.1.0",
  "apiVersion": "1.0.51",
  "minBossVersion": "9.2.20",
  "mainClass": "ai.rever.boss.plugin.dynamic.@@PACKAGE@@.@@CLASS_PREFIX@@DynamicPlugin",
  "type": "panel",
  "description": "@@TOOL_DESCRIPTION_JSON@@",
  "author": "Risa Labs",
  "url": "https://github.com/risa-labs-inc/@@REPO_NAME@@",
  "panel": {
    "position": "left_bottom",
    "priority": 50
  }
}
